header {
    display: flex;
    /* background: blue; */
    background: rgb(236, 238, 241);
    font-size: 11px;
    font-weight: 10;
}

.header-item {
    /* background: tomato; */
    background: rgb(236, 238, 241);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(236, 238, 241);
}

form {
    background: white;
    padding: 10px;
    margin: 10px;
    border: solid 1px;
    border-color: rgb(199, 199, 199);
}

footer {
    display: flex;
    background: white;
}

button {
    background-color: rgb(0, 119, 197);
    color: white;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 10px 20px 10px 20px;
    margin: 10px;
}

button:hover {
    background: linear-gradient(rgb(66, 122, 251), rgb(0, 119, 197));
    color: white;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 50;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 50;
    color: rgb(107, 109, 114);
}

label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 50;
    color: rgb(57, 58, 61);
}